<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyx.mapper.ExtUserOpenidMapper">

    <resultMap id="BaseDTOResultMap" extends="BaseResultMap" type="com.chenyx.entity.dto.UserOpenidDTO">

    </resultMap>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyx.entity.UserOpenid">
                <id column="uop_id" property="uopId"/>
                <result column="uop_user_id" property="uopUserId"/>
                <result column="uop_openid" property="uopOpenid"/>
                <result column="uop_platform" property="uopPlatform"/>
                <result column="uop_appid" property="uopAppid"/>
                <result column="uop_remark" property="uopRemark"/>
                <result column="uop_status" property="uopStatus"/>
                <result column="uop_db_create_time" property="uopDbCreateTime"/>
                <result column="uop_db_update_time" property="uopDbUpdateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uop_id, uop_user_id, uop_openid, uop_platform, uop_appid, uop_remark, uop_status, uop_db_create_time, uop_db_update_time
    </sql>


    <!--批量插入-->
    <insert id="batchAdd" parameterType="java.util.List">
        insert into user_openid
        (
                uop_user_id,
                uop_openid,
                uop_platform,
                uop_appid,
                uop_remark,
                uop_status,
                uop_db_create_time,
                uop_db_update_time
        )
        <trim suffixOverrides=",">
            <foreach collection="list" item="item">
                <trim prefix=" (" suffix=")" suffixOverrides=",">









                </trim>
                ,
            </foreach>
        </trim>
    </insert>

    <!--    加锁查询-->
    <select id="getByIdForUpdate" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user_openid
        where
                uop_id = #{uopId}








        for update
    </select>
</mapper>
