<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyx.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyx.entity.UserRole">
        <id column="usro_id" property="usroId" />
        <result column="usro_user_id" property="usroUserId" />
        <result column="usro_role_id" property="usroRoleId" />
        <result column="usro_create_time" property="usroCreateTime" />
        <result column="usro_update_time" property="usroUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        usro_id, usro_user_id, usro_role_id, usro_create_time, usro_update_time
    </sql>

</mapper>
